@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  visibility: hidden;
}

.has-tooltip {
  @apply flex;
  @apply self-start;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 50;
}

dialog {
  animation: jiggle 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

dialog::-webkit-scrollbar {
  width: 0;
  height: 0;
}

dialog:focus-within {
  outline: none;
}
dialog[open] {
  display: flex;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

@keyframes jiggle {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

/* lexical */

#lexical {
  .underline_line-through {
    text-decoration: underline line-through;
  }
  hr {
    padding: 2px;
    border: none;
    margin: 1em 0;
  }

  hr:after {
    content: '';
    display: block;
    height: 2px;
    background-color: #ccc;
    line-height: 2px;
  }

  .editor-list-ol,
  .editor-list-ul {
    padding: 0;
    margin: 0;
    list-style-position: outside;
  }

  ul {
    @apply list-disc;
  }

  ul.editor-checklist {
    @apply list-none;
  }

  ol {
    @apply list-decimal;
  }

  .editor-listitem {
    margin: 0 32px;
  }

  .editor-quote {
    margin: 0 0 10px 20px;
    font-size: 15px;
    color: #65676b;
    border-left-color: #ced0d4;
    border-left-width: 4px;
    border-left-style: solid;
    padding-left: 16px;
  }

  .editor-listItemChecked,
  .editor-listItemUnchecked {
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 24px;
    padding-right: 24px;
    list-style-type: none;
    outline: none;
  }

  .editor-listItemUnchecked:before,
  .editor-listItemChecked:before {
    content: '';
    width: 16px;
    height: 16px;
    top: 3px;
    left: 0;
    cursor: pointer;
    display: block;
    background-size: cover;
    position: absolute;
  }

  .editor-listItemUnchecked:before {
    border: 1px solid #999;
    border-radius: 2px;
  }

  .editor-listItemChecked {
    text-decoration: line-through;
  }

  .editor-listItemUnchecked:focus:before,
  .editor-listItemChecked:focus:before {
    box-shadow: 0 0 0 2px #a6cdfe;
    border-radius: 2px;
  }

  .editor-listItemChecked:before {
    border: 1px solid rgb(61, 135, 245);
    border-radius: 2px;
    background-color: #3d87f5;
    background-repeat: no-repeat;
  }
}
