@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  dialog[open] {
    @apply flex;
  }

  dialog[open].clear::backdrop {
    background-color: unset;
  }

  dialog[open].jiggle::backdrop {
    @apply bg-black bg-opacity-10;
  }

  dialog::-webkit-scrollbar {
    @apply w-0 h-0;
  }

  hr {
    @apply p-1 border-none my-4 mx-0 after:content-normal after:block after:h-0.5 after:bg-gray-800 after:leading-[2px] after:bg-opacity-15;
  }

  mark {
    /* bg-[rgba(255,_212,_0,_00.141)] */
    @apply bg-opacity-30 border-b-2 border-opacity-60 bg-[color:rgba(var(--userColor),var(--tw-bg-opacity))] border-b-[color:rgba(var(--userColor),var(--tw-border-opacity))];
  }
  mark.selected {
    @apply bg-opacity-70 border-b-2 border-opacity-100;
  }

  kbd {
    @apply bg-white rounded-sm border-[#b4b4b4] inline-block text-[0.85em] font-bold px-2 py-0.5 whitespace-nowrap text-gray-800;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 1px 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  }
}

@layer components {
  .primaryButton {
    @apply rounded-lg px-5 text-gray-100 w-full max-w-button bg-orange-700 font-semibold hover:bg-orange-500 flex items-center justify-center gap-2;
  }

  .secondaryButton {
    @apply rounded-lg px-5 text-gray-100 font-semibold bg-emerald-700 hover:bg-green-500 w-full max-w-button flex items-center justify-center gap-2;
  }

  .tertiaryButton {
    @apply rounded-lg px-5 text-gray-100 bg-slate-400 font-semibold hover:bg-slate-600 hover:text-gray-100 w-full max-w-button flex items-center justify-center bg-opacity-95 backdrop-blur-sm gap-2;
  }

  .tooltip {
    @apply invisible;
  }

  .has-tooltip {
    @apply flex self-start;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }

  /* lexical */
  .editor-list-ol,
  .editor-list-ul {
    @apply p-0 m-0 list-outside;
  }

  .editor-list-ul {
    @apply list-disc;
  }

  .editor-checklist {
    @apply list-none;
  }

  .editor-list-ol {
    @apply list-decimal;
  }

  .editor-listitem {
    @apply my-0 mx-8;
  }

  .editor-quote {
    @apply mt-0 mr-0 mb-2 ml-4 pl-4 text-base text-gray-700 border-l-slate-300 border-l-4 border-solid;
  }

  .editor-listItemChecked,
  .editor-listItemUnchecked {
    @apply relative mx-2 px-6 list-none outline-none before:w-4 before:h-4 before:cursor-pointer before:flex before:items-center before:justify-center before:bg-cover before:absolute before:top-1 before:left-0;
  }

  .editor-listItemUnchecked {
    @apply before:border before:border-solid before:border-slate-600 before:rounded-sm before:content-normal;
  }

  .editor-listItemChecked {
    @apply line-through before:border before:border-solid before:border-green-800 before:bg-green-500 before:rounded-sm before:text-white before:font-semibold before:text-xs before:text-center before:content-['\2713'];
  }

  .tooltip-spike-t {
    @apply before:w-0 before:h-0 before:ml-[0.5em] before:right-[-1em] before:top-0 before:left-[calc(50%_+_0.25em)] before:border-[0.5em] before:border-solid before:rotate-[135deg] before:shadow-[-3px_3px_3px_0_rgba(0,_0,_0,_0.05)] before:origin-[0_0] before:border-b-white before:border-l-white before:border-t-transparent before:border-r-transparent;
  }

  [data-id='CommentPlugin_AddCommentBox_button'] {
    top: calc(var(--boxTop) - 30px);
    left: calc(var(--boxLeft) - 40px);
  }

  @media not all and (min-width: 768px) {
    [data-id='CommentPlugin_AddCommentBox_button'] {
      left: calc(var(--boxLeft) + 10px);
    }
  }
}

@layer utilities {
  .underline_line-through {
    text-decoration: underline line-through;
  }

  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .jiggle {
    animation: jiggle 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  @keyframes jiggle {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.05);
    }

    100% {
      transform: scale(1);
    }
  }
}

