@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  visibility: hidden;
}

.has-tooltip:hover .w-full .tooltip {
  visibility: visible;
  z-index: 50;
}

dialog {
  animation: jiggle 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

dialog::-webkit-scrollbar {
  width: 0;
  height: 0;
}

dialog:focus-within {
  outline: none;
}
dialog[open] {
  display: flex;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

@keyframes jiggle {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
